/* boxed list structure of places */

.places {

	  text-align: center;

  }

  .places h1 {

	    font-size: 30px;

	      text-align: left;

      }

      article {

	        width: 390px;

		  border: 1px solid #FF5A5F;

		    border-radius: 4px;

		      padding: 20px;

		        margin: 20px;

			  display: inline-block;

			    min-height: 250px;

			      vertical-align: top;

		      }

		      article h2 {

			        font-size: 30px;

				  margin-top: 5px;

			  }
